<h6>Enter the symbol of a stock to track (i.e. AAPL, TSLA, GOOGL)</h6>
<input type="text" #box id="stockInput">
<button class="btn-primary"(click)=getData(box.value) id="trackBtn">Track Stock</button>
<table class="table table-bordered">
    <tbody *ngFor="let stock of list">
        <tr>
            <td colspan="2">{{stock.symbol}}</td>
            <td><button (click)="removeList(stock.id)">X</button></td>
        </tr>
        <tr >
            <td scope="col">Change Today: {{stock.name.d}}</td>
            <td scope="col">Opening Price: ${{stock.name.o}}</td><br/>
            <td rowspan="2" >
                <span *ngIf="stock.name.d<0" style="color:red;margin: 0px; position: absolute;"[innerHTML]="icon2"></span>
                <span *ngIf="stock.name.d>=0" style="color:green;margin: 0px; position: absolute;" [innerHTML]="icon1"></span>
            </td>
                
        </tr>
        <tr >
            <td scope="col">Current Price: ${{stock.name.c}}</td>
            <td scope="col">High Price: ${{stock.name.h}}</td><br/><br/>
        </tr>
        <tr>
            <td colspan="3"><button style=" display:block; margin:auto"><a [routerLink]="['/sentiment', stock.symbol] " style="text-decoration: none; color:black">Go to social sentiment details</a></button></td>
            <!-- <td colspan="3">
                <nav>
                    <a routerLink="/sentiment">Go to social sentiment details</a>
                </nav>
            </td> -->
        </tr>
        <br>
    </tbody>
</table>

<!-- <p>{{userInput}}</p> -->

<router-outlet></router-outlet>